@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png");
    background-size: cover;
    height: 100vh;
    font-family: "OpenSans";
}

.main_heading {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.paraElement {
    color: #f5f7fa;
    font-size: 23px;
}

.labelEl {
    color: white;
    padding-top:10px;
}

input {
    border-radius: 10px;
    height: 36px;
    font-family: "roboto";
    font-weight: bold;
    padding-left: 12px;
    width: 360px;
    margin-bottom: 15px;
    margin-top: -5px;
}
.button:hover {
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 15px;
} 
.button{
    border-radius: 10px;
    margin-top: 10px;

}
button {
    border-radius: 6px;
    padding-left: 11px;
    padding-right: 10px;
    margin-bottom: 8px;
    font-size: 18px;
    height: 40px;
}

.errorMsg {
    font-size: 13px;
    color: #ffffffcc;
    font-family: "roboto";
}

.secondsTime {
    color: white;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    width: 200px;
    margin-top: 6px;
    border: 1px solid white;
}